html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  body, h1, h2, h3,
  h4,h5, h6,
  p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  body {
    background-color: black;
  }
  
  .happy,
  .newyear {
    position: absolute;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 50px #4e8d9e;
    z-index: 1;
  }
  
  
  .newyear:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-align: center;
    color: #4e6b9e;
    filter: blur(30px);
  }
  
  .happy {
    height: 100px;
    width: 100px;
    top: 20%;
    left: 35%;
    right: 50%;
    font-family: 'Marck Script', cursive;
    font-size: 80px;
    letter-spacing: 20px;
  }
  
  .happy:after {
    font-size: 108px;
  }
  
  .happy:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #41739999;
    z-index: -2;
    opacity: 0.5;
    filter: blur(50px);
  }
  
  .newyear {
  
    top: 45%; 
    left: 50%; 
    font-family: 'Antonio', sans-serif;
    font-size: 50px; 
    letter-spacing: 5px; 
    font-family: Cambria, Cochin, 
    Georgia, Times, 
    'Times New Roman',
     serif;
  }
  
  
  .newyear:after {
    font-size: 75px; 
  }
